<h1  class="big">Meet the Herd</h1>

<ul id='horsesOfPenelops' class="list">

</ul>

<div id='newForm'>
<form class="flex flex-column" method="GET" action="/horses/new">
  <button type="submit" class="button dark">Add a Horse</button>
</form>
</div>
